.header {
    grid-area: h;
    background-color: rgb(65, 118, 179);
    border-radius: 50px;
}

.header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    padding: 0px
}

.loginBlock {
    float: right;
    padding: 15px;
    font-size: larger;
    font-weight: 600;
    transition: 0.3s;
}

.loginBlock:hover {
    color:thistle;
    transition: 0.3s;
}

.loginBlock a {
    color: white;
}


