.DescriptionBlock  {
    padding: 10px;
}

.img img {
    width: 1000px;
    height: 500px;
    border-radius: 50px;
}

.status {
    color:rgb(148, 16, 255);  
    background-color: turquoise;
}